.media-modal-close .media-modal-icon:before {
	content: "\f158";
	content: "\f158" / '';
}
.uploader-inline .close:before {
	content: "\f335";
	content: "\f335" / '';
}
.media-modal .imgedit-help-toggled span.dashicons:before {
	content: "\f142";
	content: "\f142" / '';
}
.image-details .advanced-toggle:after {
	content: "\f140";
	content: "\f140" / '';
}
.image-details .advanced-visible .advanced-toggle:after {
	content: "\f142";
	content: "\f142" / '';
}
