#find-posts-close:before {
	content: "\f158";
	content: "\f158" / '';
}
.upload-php .media-modal-close .media-modal-icon:before {
	content: "\f335";
	content: "\f335" / '';
}
.edit-attachment-frame .edit-media-header .left:before {
	content: "\f341";
	content: "\f341" / '';
}
.edit-attachment-frame .edit-media-header .right:before {
	content: "\f345";
	content: "\f345" / '';
}
.imgedit-crop:before {
	content: "\f165";
	content: "\f165" / '';
}
.imgedit-scale:before {
	content: "\f211";
	content: "\f211" / '';
}
.imgedit-rotate:before {
	content: "\f167";
	content: "\f167" / '';
}
.imgedit-undo:before {
	content: "\f171";
	content: "\f171" / '';
}
.imgedit-redo:before {
	content: "\f172";
	content: "\f172" / '';
}
