.wp-slider .ui-slider-handle:before {
	content: "\f229";
	content: "\f229" / '';
}
.wp-slider .ui-slider-handle.from-handle:before {
	content: "\f139";
	content: "\f139" / '';
}
.wp-slider .ui-slider-handle.to-handle:before {
	content: "\f141";
	content: "\f141" / '';
}
.rtl .wp-slider .ui-slider-handle.from-handle:before {
	content: "\f141";
	content: "\f141" / '';
}
.rtl .wp-slider .ui-slider-handle.to-handle:before {
	content: "\f139";
	content: "\f139" / '';
}
